@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Taipei Sans TC Beta';
  src: url('fonts/TaipeiSansTCBeta-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'Taipei Sans TC Beta';
  src: url('fonts/TaipeiSansTCBeta-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Taipei Sans TC Beta';
  src: url('fonts/TaipeiSansTCBeta-Light.ttf');
  font-weight: 300;
}
body {
  font-family: 'Taipei Sans TC Beta', 'Helvetica Neue';
}